# MAVEN BUILD
target/
!**/src/main/**/target/
!**/src/test/**/target/

# SENSITIVE CONFIG
**/application.properties

# Template
!**/application.properties.example

# Inne
**/application-prod.properties
**/application-secret.properties
**/.env


# FRONTEND - TYLKO GENEROWANE PLIKI
frontend/frontend/generated/
frontend/frontend/index.html
frontend/node_modules/
frontend/vite.generated.ts
frontend/target/

# OLD PERSISTENCE
index.ser

# IDE
.idea/
*.iml
*.ipr
*.iws
out/
.vscode/

# JAVA
*.class

# LOGS
*.log

# OS
.DS_Store
Thumbs.db
